
<div id="footer">
	
	<div id="copy">
		Webmaster: <%= mail_to("profh@cmu.edu", "Klingon Code Warrior", :encode => "javascript") %> 
		&nbsp;&nbsp;&copy 2012 
		<br />The date and time is now: <%= Time.now.strftime("%B %e, %Y at %I:%M:%S %P") %>
	</div>

</div>