/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.klingon {
	font-size: 175%;
	font-weight: bold;
	font-family: Verdana;
}

.translation {
	font-size: 120%;
	font-style: italic;
	font-family: Verdana;
}

.comment {
	border: solid 1px #993333;
  margin: 15px 0;
	width: 500px;
	padding: 5px;
	background-color: #FAE2EA;
}

.comment a {
	color: #993333;
}